html {
  box-sizing: border-box;
  background-color: rgb(20, 29, 37);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: pink;
  font-size: 16px;
  font-weight: 400;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
 margin: 0;
 padding: 0;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
  padding: 20px;

  font-size: 70px;
}

img {
  width: 100%;
  max-width: 700px;
  align-self: center;
}
p {
  font-size: 18px;
  font-weight: 600;
}
ul {
  padding: 0;
  color: pink;
}

li {
  color: black;
  height: auto;
  width: auto;
  background-color: pink;

  padding: 20px;
  margin: 20px;

  font-weight: 600;
}

a:link {
  color: deeppink;
}

a:visited {
  color: black;
}

a:hover {
color: deeppink;
}

a:active {
  color: pink;
}

div.ingredients,  
div.steps {
  padding: 10px 10px;
  color: white;
  background-color: black;
  font-size: 16px;
  font-weight: 100;
  
}

div li {
  width: auto;
}

button {
  background-color: whitesmoke;
  color: deeppink;
  padding: 10px 20px;
  margin: auto;
  font-size: 18px;
}

#recipe {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}